<mat-chip-list #color class="mat-chip-list-stacked">
  <mat-chip *ngFor="let chip of availableColors" selected [color]="chip.color">
    {{chip.name}}
  </mat-chip>
</mat-chip-list>


<br><br>

<!-- Can be done with any element -->
<div #mydiv style="height:75px;">
 Height From Element passed to controller:  {{height}}
</div>




<br><br>